<!DOCTYPE html>
<html ng-app='angular_test'>
  <head>
    <title>Angular Test</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta http-equiv="content-language" content="zh-tw">
    <style>
      section{
        margin:20px;
      }
    </style>
  </head>
  <body>
    <section>
      <h1>Angular</h1>
      <p class="text-success">{{name || 'Hey'}} ! Hello !</p>
      <input type='text' ng-model='name' />
    </section>

    <hr />

    <section>
      <div class='row'>總共：<input type='text' ng-model='total' ng-init='total=100' /></div>
      <div class='row'>用掉：<input type='number' ng-model='use' ng-init='use=0' /></div>
      <div class='row'>剩餘：{{total - use | number:1 }}</div>
    </section>

    <hr />

    <seciton >
      <form class="form-inline" ng-submit='send()' ng-controller='save'  >
        <div class="form-group">
          <label class="sr-only" for="exampleInputEmail3" ng-model='email' name='email'>Email address</label>
          <input type="text" class="form-control" id="exampleInputEmail3" placeholder="Email">
        </div>
        <div class="form-group">
          <label class="sr-only" for="exampleInputPassword3" ng-model='password' name='password'>Password</label>
          <input type="text" class="form-control" id="exampleInputPassword3" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-default">Sign in</button>
        <div>
       電子信箱 {{ emails }}
      </div>
      </form>
      
    </seciton>

  </body>
  <script language="javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <script language="javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.1/angular.min.js"></script>
  <script type="text/javascript" src="controller.js"></script>
</html>